.mainpage{

  
   
}
.data{
 
}
.mainpage_info-amount{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.mainpage_info-user{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 50%;
 
}
.mainpage_info-user img{
   height: 50px;
   width: 50px;
}
.mainpage_info-amount img{
   height: 30px;
   width: 30px;
   margin-left: 7px;
}