nav {
    background: #424968;
  
    display: block;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

ul{
  display: flex;

  padding: 0;
  justify-content: space-around;
  height: 100%;

}
ul li{
    list-style-type: none;
    height: 100%;

    display: block;
}
ul li a{
    text-decoration: none;
    color: white;
  
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
ul li a p {
    margin: 0;
    padding: 0;
}
.symbol{
    font-size: 1rem;
}