.container{
    position: relative;
}
.mainwheel_container{
    height: 300px;
    
    
}
.wheel-container{
    height: 1400px;
    width: 1000px;
    top: -140%;
    position: absolute;
    left: 20%;
   z-index: -5;
   
}