.container{

}
.mainwheel_container{
    height: 300px;
    
    
}
.wheel-container{
    height: 1400px;
   
   width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0;
    left: 100px;
    top: -300px;
   z-index: -5;
   
}